absl-py==0.12.0
albumentations==0.5.2
asgiref==3.5.2
astor==0.8.1
blend-modes==2.1.0
bootstrap4==0.1.0
certifi==2020.12.5
cffi==1.15.1
charset-normalizer==2.1.1
cloudpickle==1.6.0
coverage==5.5
cryptography==38.0.1
cycler==0.10.0
Cython==0.29.22
cytoolz==0.11.0
dask==2021.3.0
decorator==4.4.2
defusedxml==0.7.1
Django==3.2.15
django-allauth==0.51.0
django-crispy-forms==1.14.0
dlib==19.21.1
dominate==2.6.0
efficientnet-pytorch==0.6.3
future==0.18.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.36.1
h5py==2.10.0
idna==3.4
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==3.7.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
networkx==2.5.1
numpy==1.19.2
oauthlib==3.2.1
olefile==0.46
opencv-python==4.5.1.48
opencv-python-headless==4.6.0.66
Pillow==9.2.0
pip==21.0.1
pretrainedmodels==0.7.4
protobuf==3.14.0
pycparser==2.21
PyJWT==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-opencv==1.0.0.14
python3-openid==3.2.0
pytz==2022.2.1
PyWavelets==1.1.1
requests==2.28.1
requests-oauthlib==1.3.1
reserve==0.3
scikit-image==0.16.2
scipy==1.5.2
segmentation-models-pytorch==0.1.3
setuptools==52.0.0.post20211006
Shapely==1.7.1
six==1.15.0
sqlparse==0.4.2
tensorboard==1.14.0
tensorboardX==2.2
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
timm==0.3.2
toolz==0.11.1
torch==1.6.0
torchvision==0.7.0
tornado==6.1
tqdm==4.59.0
types-cryptography==3.3.23
typing-extensions==4.3.0
urllib3==1.26.12
Werkzeug==1.0.1
wheel==0.36.2
wrapt==1.12.1
zipp==3.4.1
