{% extends 'base.html' %}
{% load static %}

{% block style %}

<style>
    .pop_wrap{
        background-color:rgba(0,0,0,.3); 
        justify-content:center; 
        align-items:center;   
        position:fixed;   
        top:0;
        left:0;
        right:0;
        bottom:0;               
        display:none; 
        padding:15px; 
    }  

    .pop_inner {
        border-radius:10px;
        background-color:#ffffff; 
        padding:30px; 
        box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
    }
</style>

{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center d-block p-3 bg-dark text-white">
            <h3> 장바구니</h3>
    </div>
    {% if not cart_items %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">
                장바구니가 비어있습니다. 
            </h1>
            <br>
            <p class="text-center">
                <a href="{% url 'products:product_list' %}">이 곳</a>을 눌러 쇼핑을 계속 하세요. 
            </p>
        </div>
    </div>
    {% else %}
    <div class="row mx-auto">
        <div class="col-20 col-sm-15 col-md-15 col-lg-10 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th colspan="5">
                            제품 목록
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <a href="{% url 'products:product_detail' pk=cart_item.product.id %}">
                                <img src="{{ cart_item.product.image.url }}" width=100px height=100px alt="" class="float-left rounded custom_image">
                            </a>
                        </td>
                        <td class="text-left">
                            No.{{cart_item.product.id}} {{cart_item.product.name}}
                            <hr> 가격 : {{cart_item.product.price}} 원
                            <br> 총계 : {{cart_item.quantity}} 개 x {{cart_item.product.price}} 원        
                    
                        </td>
                        <td>
                            총액 : {{cart_item.sub_total}} 원
                        </td>
                        {% if cart_item.quantity < cart_item.product.quantity %}
                            <td>
                                <a href="{% url 'carts:add_cart' cart_item.product.id %}" class="custom_a"><img src="{% static 'img/plus.png' %}" width=30em height=30em></a>&nbsp;
                                <a href="{% url 'carts:cart_remove' cart_item.product.id %}" class="custom_a"><img src="{% static 'img/minus.png' %}" width=15em height=15em ></a>&nbsp;
                                <br>
                                <a href="{% url 'carts:cart_all_remove' cart_item.product.id %}" class="custom_a"><img src="{% static 'img/delete.png' %}"width=20em height=20em></a>
                            </td>
                            {% else %}
                            <td>
                                &nbsp; <a href="" class="custom a"><i class="fas fa-minus-circle custom icon"></i></a>&nbsp;
                                <a href="" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                            </td>
                                <td></td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-20 col-sm-15 col-md-15 col-lg-10 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>
                            결제하기 전에 장바구니 목록을 확인하세요. 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            합계 : <strong>{{ total }} 원</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto">
                <a href="{% url 'products:product_list' %}" class="btn btn-secondary btn-block my_custom_button">쇼핑 계속하기</a>
                <a href="#pop_info_1" class="btn_open btn btn-secondary btn-block my_custom_button">주문하기</a>
            </div>
            <br>
        </div>
    </div>

    
    <div id="pop_info_1" class="pop_wrap">
        <div class="text-center">
            <div class="pop_inner">
                    <h4>주문 정보 입력</h4>

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </br>
                    {{ order_form.as_p }}
                    <div class="d-flex justify-content-center">
                        <br>
                        <input class="btn btn-dark" type="submit" value="주문하기" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    {% endif %}

    
    <script>
        var target = document.querySelectorAll('.btn_open');
        var targetID;
      
        // 팝업 열기
        for(var i = 0; i < target.length; i++){
          target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
          });
        }
        
        // 팝업 닫기
        for(var j = 0; j < target.length; j++){
          btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
          });
        }
      </script>
      
{% endblock %}
