{% extends 'base.html' %}
{% load static %}
{% block title %}Reservation Detail{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    </br>
    <h1>Reservation Detail</h1>
    <hr/>
    <div class="container">
      <div class="row">
          <div class="col">
            {% if reservation.makeup.image %}
                <img src ="{{ reservation.makeup.image.url }}" width="400em">
            {% endif %}

          </div>
          <div class="col">
            <a href="{% url 'makeups:makeup_detail' pk=reservation.makeup.id %}"><h3>메이크업 제목: {{ reservation.makeup.title }}</h3></a>
              <hr/>
              <a href="{% url 'accounts:profile' pk=reservation.makeup.author.id %}"><p>아티스트: {{ reservation.makeup.author.profile.nickname }}</p></a>
            <p>아티스트 연락처: {{ reservation.user.email }}</p>

            <a href="{% url 'accounts:profile' pk=reservation.user.id %}"><p>예약자: {{ reservation.user.profile.nickname }}</p></a>
            <p>예약자 연락처: {{ reservation.user.email }}</p>

            <p>예약 시작 시간: {{ reservation.start_time }}</p>
            <p>예약 종료 시간: {{ reservation.end_time }}</p>

            <p>총액: {{ reservation.total_fee }}원</p>
            <p>상태: {{ reservation.get_status_display }}</p>

    {% if reservation.makeup.author == request.user %}
      <hr />

      <form action="" method="POST">
          {{ form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary mb-3">상태 변경</button>
      </form>
    {% endif %}

          </div>
      </div>
    </div>

</br>
{% endblock %}