{% extends 'base.html' %}
{% load static %}
{% block content %}
    </br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    {% if profile_user.profile.image %}
                    <img class="round" src="{{profile_user.profile.image.url}}" height="90%", width="90%"> <br>
                    {% else %}
                    <img class="round" src="{% static 'assets/user.png' %}" height="200"width="200"> <br>
                    {% endif %}
                    </br>
                </div>
                <div class="col">
                    <h3> ID: {{profile_user.username}} </h3>
                    <hr>
                    <h5>닉네임: {{profile_user.profile.nickname}}</h5>
                    <h5> 이름: {{profile_user.last_name}} {{profile_user.first_name}} </h5>
                    <h5> 소개: {{profile_user.profile.bio}} </h5>
                    </br>
                    <div class="d-flex justify-content-center">
                        {% if user == profile_user %}
                        <a href="{% url 'accounts:profile-update' %}">
                            <button type="button" class="btn btn-dark">프로필 편집</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <h4>등록한 메이크업 레퍼런스</h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
              </tr>
            </thead>
            <tbody>
            {% for makeup in makeup_list %}
              <tr>
                <th scope="row">{{ makeup.id }}</th>
                <td>{{ makeup.title }}</td>
                <td>{{ makeup.author.profile.nickname }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>   
          
          <br />

          {% if user == profile_user %}
          <h4>예약 리스트</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">예약자</th>
                <th scope="col">아티스트</th>
                <th scope="col">시작 시간</th>
                <th scope="col">종료 시간</th>
                <th scope="col">예약 상태</th>
              </tr>
            </thead>
            <tbody>
            {% for reservation in reservation_list %}
              <tr>
                <th scope="row">{{ reservation.id }}</th>
                <td>{{ reservation.user.profile.nickname }}</td>
                <td>{{ reservation.makeup.author.profile.nickname }}</td>
                <td>{{ reservation.start_time }}</td>
                <td>{{ reservation.end_time }}</td>
                <td>{{ reservation.status }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <br />

          <h4>예약 요청 리스트</h4>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">예약자</th>
                  <th scope="col">아티스트</th>
                  <th scope="col">시작 시간</th>
                  <th scope="col">종료 시간</th>
                  <th scope="col">예약 상태</th>
                </tr>
              </thead>
              <tbody>
              {% for reservation in reservated_list %}
                <tr>
                  <th scope="row">{{ reservation.id }}</th>
                  <td>{{ reservation.user.profile.nickname }}</td>
                  <td>{{ reservation.makeup.author.profile.nickname }}</td>
                  <td>{{ reservation.start_time }}</td>
                  <td>{{ reservation.end_time }}</td>
                  <td>{{ reservation.status }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>  
            
        {% endif %}

    </div>
    </br>
{% endblock %}