{% extends 'base.html' %}

{% block content %}
    </br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p><img src="{{ makeup.image.url }}" class="img-thumbnail"></p>
            </div>
            <div class="col-8">
                    <h3>{{ makeup.title }}</h3>
                    <h5><a href="{% url 'accounts:profile' pk=makeup.author.id %}">{{ makeup.author.profile.nickname }}</a> 아티스트</h5>
                    <h7>{{ makeup.price }} 원/시간 </h7>
                    <hr />
                    <p>{{ makeup.detail }}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'makeups:virtual_makeup' pk=makeup.id %}"><button type="button" class="btn btn-dark">메이크업 해보기</button></a>
                    {% endif %}
                    {% if makeup.author != request.user %}
                    <hr/>
                    <center>
                        <form id="reservation-form" action="" method="POST">
                            {% csrf_token %}
                            <div class="input-div">
                                    <label for="id_start_time">예약 시간 : </label>
                                    <input type="datetime-local" id="id_start_time" name="start_time">
                                </div>
            
                                <br/>
            
                                <!-- Input Div -->
                                <div class="input-div">
                                    <label for="id_end_time">종료 예정 시간 : </label>
                                    <input type="datetime-local" id="id_end_time" name="end_time">
                                </div>
            
                            <div class="input-div">
                            <br/>
                            <button type="submit" class="btn btn-dark">메이크업 예약하기</button>
                            </div>
                        </form>
                    </center>
                    {% endif %}  
            </div>          
        </div>

        <section class="py-5">
            <h3>사용 제품</h3>
            <hr />
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price }} 원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a href="{% url 'products:product_detail' pk=product.id %}"><button type="button" class="btn btn-dark">자세히 보기</button></a></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                {% endfor %}

            </div>
        </div>
    </section>

    </div>
    </br>
{% endblock %}
