{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center d-block p-3 bg-dark text-white">
    <h3>메이크업 등록</h3>
</div>
<br />
<div class="container">
    <div class="d-flex justify-content-center">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form | crispy }}
            {% csrf_token %}
        </br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">등록하기</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}
